<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task main page</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<h1>Dodaj nowe zadanie:</h1>
<label>Twój staż pracy: ...</label>
<form action="/task" method="post">

    <label>Tytuł zadania:</label>
    <input type="text" th:field="${request.title}">
    <label>Kategoria zadania:</label>
    <input type="text" th:field="${request.type}">
    <label>Poziom trudności:</label>
    <input type="number" th:field="${request.level}">
    <label>Osoba odpowiedzialna:</label>
    <input type="text" th:field="${request.name}">


    <button type="submit">Dodaj zadanie</button>
</form>
</body>
</html>